:root {
  --primary-color: rgb(237 255 250);
  --secondary-color: #ffc10e;
  --third-color: rgb(59, 198, 211);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  height: 100%;
} */

body {
  overflow-y: auto;
}
/* Ẩn scrollbar trên Chrome, Edge, Safari */
body::-webkit-scrollbar {
  display: none;
}

/* Header */
header {
  background-color: var(--primary-color);
  height: 10%;
}

.header-container {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.side-menu button {
  border: none;
  background-color: transparent;
  margin-right: 1rem;
}

.side-menu button img {
  transition: opacity;
}
.side-menu button img:hover {
  opacity: 0.8; /* Làm mờ ảnh khi trỏ chuột vào */
  cursor: pointer;
}

.header-logo {
  flex: 1;
}
.header-logo img {
  width: 100%;
}

.header-options {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-options div {
  display: flex;
  font-size: 1.2vw;
  width: 100%;
  justify-content: space-around;
}

.header-options input {
  width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}

.header-actions {
  width: 20%;
  height: 100%;
}

.header-actions .action-links {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.action-links a {
  color: var(--third-color);
  text-decoration: none;
  font-size: 1.1vw;
}

/* Main */
main {
  border: 1px solid black;
}

.introduce-section {
  background-image: url("../public/img/introduce.webp");
  background-size: cover;
  background-repeat: no-repeat; /* Không lặp ảnh */
  width: 100%;
  height: 31.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}
.introduce-section h2 {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7); /* Bóng chữ sáng giúp làm nổi bật chữ */
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Services  */
.services-overview {
  margin: 10px 10rem 0px 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 3.5rem;
}

.service-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 30px;
}

.service-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
}

.service-container button {
  border: none;
  background-color: transparent;
}

.service-container button:hover {
  cursor: pointer;
}

.service-img {
  width: 10%;
  height: 55%;
  margin-left: 30px;
  margin-right: 20px;
}

.service-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 6rem;
  text-decoration: none;
}

.service-item {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
}

/* Specialty */

.drag-scroll-container {
  overflow-x: scroll; /* Kích hoạt cuộn ngang */
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
  cursor: grab; /* Con trỏ dạng tay khi kéo */
}

.specialty-links-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 2rem;
}

.specialty-container {
  flex: 1;

  flex: 0 0 calc(33.33% - 20px); /* Đảm bảo chỉ 3 mục hiển thị đầy đủ trong khung */
  scroll-snap-align: center; /* Căn giữa khi cuộn */
}

.specialty-container button {
  padding: 20px;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  border: 2px solid rgb(218, 233, 236);
  border-radius: 20px;
  background-color: transparent;
}

.specialty-container button:hover {
  cursor: pointer;
}

.specialty-container button div {
  height: 15rem;
  width: 15rem;
}

.specialty-container button img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  padding-bottom: 1rem;
}
.specialty-container button span {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

/* Mũi tên di chuyển danh sách */

.scroll-btn {
  position: absolute;
  top: 50%;

  height: 2.6rem;
  width: 2.9rem;
  z-index: 10;

  border: 2px solid rgb(181 230 237);
  border-radius: 0.5rem;
  background-color: white;

  cursor: pointer;
}
.scroll-btn.left {
  left: -1.4rem;
}

.scroll-btn.right {
  right: -1.4rem;
}
